body{
  margin:0px;
}
header{
  display:flex;
  background-color:black;
  color:white;
  height:calc(50px + 1vh);
  align-items:center;
  padding-left:4px
}
.try-on{
  margin-left:10px;
  margin-top:10px;
}
.models{
  display:flex;
  flex-direction:column;
  gap:10px;
  list-style-type:none;
}
.model-container{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.card{
  display:flex;
  flex-direction:column;
  box-shadow: 4px 4px 4px 4px lightgrey;
  width:80%;
  padding:5px;
  align-items:center;
  gap:20px
}
.card model-viewer{
  height:200px;
}